<%-include("./partials/header")%>
    <h1>This is Change Password Page</h1>
    <form action="/users/forgetPassword/<%=uid%>" method="post">
        <input type="password" name="newPassword" placeholder="Create New Password" id="">
        <button>Submit</button>
        
    </form>
    <%-include("./partials/footer")%>