<%-include("./partials/header")%>
    
    <div class="h-screen sm:flex w-full pt-1  ">
        <div class="box1  sm:w-[50%] sm:items-start sm:justify-center sm:pb-[3%] sm:pl-[11%]  px-5 flex flex-col  items-center w-[100%] pt-1   ">
            <h1 class="text-3xl  mt-[20%] text-red-600 font-bold italic">Delight Joy</h1>
            <p class="text-4xl  sm:w-[40vw]  w-[100%] mt-4 sm:leading-[2.7vmax] leading-[6vmax] text-center sm:text-start">Remember God before eating,
                <span class="h-[3vh]    block"></span>
                Eat in peace,
                <span class="h-[3vh]  block"></span>
                Finally thanks the Almighty,
                <span class="h-[3vh]  block"></span>
                You will enjoy every piece of your meal, It is our belief.</p>
                <span class="h-[3vh]  block"></span>

                <a class="bg-red-700 sm:text-[0.9vmax] sm:px-8 sm:py-[0.8vmax] hover:bg-white hover:text-red-600 text-[2vmax] font-semibold hover:border-[1px] hover:border-red-600  text-white px-6 py-[1.2vmax] rounded-[50px] mt-2" href="/profile/onlineOrder">Order Now</a>

        </div>
        <div class=" box2 flex sm:w-[50%]  sm:items-center  justify-center pt-5">
            <img class="rounded-full sm:h-[450px] sm:w-[450px] sm:mt-[22%] sm:ml-[20%] h-[300px] w-[300px]" src="https://www.lazeezhakeem.com/assets/img/home-three/banner1.jpg" alt="">
        </div>
    </div>
    <%-include("./partials/footer")%>